{% extends 'medals/base_small.html' %}

{% block content %}
<h1>О проекте</h1>
<h2>О сайте</h2>
<p>Сайт хранит историю любительских забегов, сохраняя фотографии медалей.
  Можно посмотреть медали по сериям соревнований, например, все медали Московского марафона. Или воспользоваться другими категориями.
</p>
<p>Если у вы хотите поучаствовать в развитии проекта, нашли баг или ошибку, пишите на почту  <a href="mailto:fa-tum@yandex.ru">автору</a>.</p>
<h2>Об авторе</h2>
<a href="https://vk.com/fa_tum/">Vk</a><br>
<a href="https://instagram.com/fa_tum/">Insta</a><br><br>
<h2>Поддержать проект</h2>
<iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82&targets-hint=&default-sum=200&button-text=12&mail=on&hint=&successURL=&quickpay=shop&account=410011026646673&" width="100%" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
2022
{% endblock %}
