<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Медали серии {{seria.name}}</title>
</head>
<body>
  {% if seria.logo %}
    <h2><img src="../{{ seria.logo }}" height=50></img>{{ seria.name }}</h2>
  {% else %}
    <h2>{{ seria.name }}</h2>
  {% endif %}

<h2>Медали</h2>
{% if medals.count > 0 %}
  {% for medal in medals %}
      <div>
        <img src="../{{ medal.photo}}" alt="" height=250>
        <h4>{{medal.name}}</h4>
        <p>{{medal.date}}</p>
        <p>{{medal.sport}}, {{medal.distance}}</p>
      </div>
  {% endfor %}
{% endif %}
</body>
</html>
